<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* h1 {
        text-align: center;
        color: #333;
    } */
    .birthday {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f7e6ff;
        border-radius: 5px;
    }
    .birthday h2 {
        color: #6a0dad;
        margin-bottom: 5px;
    }
    .div_lista_de_aniversariantes p {
        color: #555;
        margin: 0;
    }
    .div_lista_de_aniversariantes {
        display:flex;
        max-width: 400px;
        flex-direction: column;
        justify-content: center;
        
    }
    .card{
        display: flex;
        margin-bottom: 10px;
    }
    .informacao_complementar_do_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
</head>
<body>
    <div class="conteudo" id="conteudo">
        <h1>Aniversariantes</h1>
        <label for="data_inicio">Data Início: </label>
        <input type="date" name="" id="data_inicio">

        <label for="data_fim">Data Final: </label>
        <input type="date" name="" id="data_fim">

        <div class="div_lista_de_aniversariantes" >
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M480-242q-67 0-129 23.5T235-149v9h490v-9q-54-46-116-69.5T480-242Zm0-60q74 0 139.5 24.5T740-211v-609H220v609q55-42 120.5-66.5T480-302Zm2-139q-32.5 0-55.25-22.75T404-519q0-32.5 22.75-55.25T482-597q32.5 0 55.25 22.75T560-519q0 32.5-22.75 55.25T482-441ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm262-301q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40Zm-2-138Z"/></svg>
                <div class="informacao_complementar_do_card" >
                    <p>Leudacy Batista Scherner</p> 
                    <p>12/04/1930 (94 anos) S. Socorro </p> 
                </div>
            </div>
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M480-242q-67 0-129 23.5T235-149v9h490v-9q-54-46-116-69.5T480-242Zm0-60q74 0 139.5 24.5T740-211v-609H220v609q55-42 120.5-66.5T480-302Zm2-139q-32.5 0-55.25-22.75T404-519q0-32.5 22.75-55.25T482-597q32.5 0 55.25 22.75T560-519q0 32.5-22.75 55.25T482-441ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm262-301q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40Zm-2-138Z"/></svg>
                <div class="informacao_complementar_do_card" >
                    <p>Leudacy Batista Scherner</p> 
                    <p>12/04/1930 (94 anos) S. Socorro </p> 
                </div>
            </div>
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M480-242q-67 0-129 23.5T235-149v9h490v-9q-54-46-116-69.5T480-242Zm0-60q74 0 139.5 24.5T740-211v-609H220v609q55-42 120.5-66.5T480-302Zm2-139q-32.5 0-55.25-22.75T404-519q0-32.5 22.75-55.25T482-597q32.5 0 55.25 22.75T560-519q0 32.5-22.75 55.25T482-441ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm262-301q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40Zm-2-138Z"/></svg>
                <div class="informacao_complementar_do_card" >
                    <p>Leudacy Batista Scherner</p> 
                    <p>12/04/1930 (94 anos) S. Socorro </p> 
                </div>
            </div>
        </div>

        <!-- <h3>Aniversariantes do Dia:</h3>
        <h3>Aniversariantes do Dia Seguinte:</h3>
        <h3>Aniversariantes do Mês:</h3>
        <h3>Aniversariantes do Ano:</h3> -->
    </div>
</body>
<script>
    //Captura o campo de tada
    var data_inicio = $('#data_inicio');
    var data_fim = $('#data_fim');
    
    //Declara data atual
    var hoje = new Date();

    // Ajusta o fuso horário para GMT-03:00 (180 minutos antes de UTC)
    hoje.setMinutes(hoje.getMinutes() -180);

    //Formata para dar valor ao campo de data
    var hojeFormatado = hoje.toISOString().split('T')[0];

    //Atribui valor ao campo de data
    data_inicio.val(hojeFormatado);
    data_fim.val(hojeFormatado);

    //Atribui uma função para a alteração do campo
    data_inicio.on('change', alterar_data_selecionada);
    data_fim.on('change', alterar_data_selecionada);

    //Chama função para atualizar variavel data_selecionada
    alterar_data_selecionada();

    function alterar_data_selecionada(){
        value_data_inicio = data_inicio.val();
        value_data_fim = data_fim.val();
    }
    
    //Obtem do banco todas os aniversariantes
    obter_dados_aniversariantes();
    function obter_dados_aniversariantes(){
        var url = '/obter_dados_aniversariantes';
        var sucesso = validar_dados_aniversariantes;
        // $.ajax({
        //     url:url,
        //     success: function(result){
        //         sucesso(result);
        //     },
        //     error: function(result){console.log(result)},
        // });
    }

    function validar_dados_aniversariantes(result){
        //Captura o array retornado
        dados_aniversariantes = result.dados_aniversariantes;

        //Captura as datas selecionadas
        

        //filtra a Data selecionada
        // data_selecionada = new Date(data_selecionada);
        // dia_selecionado = data_selecionada.getDate();
        // mes_selecionado = data_selecionada.getMonth()+1;

        // aniversariantes_do_ano = dados_aniversariantes;

        // aniversariantes_do_mes = dados_aniversariantes.filter((element) => parseInt(element.data_aniversário.substr(5,2)) === mes_selecionado);

        // aniversariantes_do_dia = dados_aniversariantes.filter((element) => parseInt(element.data_aniversário.substr(5,2)) === mes_selecionado && parseInt(element.data_aniversário.substr(8,2)) === dia_selecionado);

        // aniversariantes_do_dia_seguinte = dados_aniversariantes.filter((element) => parseInt(element.data_aniversário.substr(5,2)) === mes_selecionado && parseInt(element.data_aniversário.substr(8,2)) === dia_selecionado+1);

        exibir_na_tela();
    }

    function exibir_na_tela(){
        console.log(dados_aniversariantes);

        div_lista_de_aniversariantes = document.querySelector('.div_lista_de_aniversariantes');

        dados_aniversariantes.forEach(function(element){
            aniversariante = document.createElement('p');

            aniversariante.textContent = 
                element.nome_interno + ' ' + 
                formatar_data(element.data_aniversário) + ' ' + 
                '(' +element.idade +' anos) '+
                element.organizacao + ' ' 
            ;

            div_lista_de_aniversariantes.appendChild(aniversariante);
        });
    }

    function formatar_data(element){
        dia = element.substr(8,2);
        if(dia < 9){dia = '0'+dia;};

        mes = element.substr(5,2);

        ano = element.substr(0,4);

        data_formatada = dia+'/'+mes+'/'+ano;
        return data_formatada;
    }

    //Vermelho Verde e Azul
</script>
</html>