<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .div_lista_de_aniversariantes p {
        color: #555;
        margin: 0;
    }
    .div_lista_de_aniversariantes {
        display:flex;
        max-width: 400px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .card{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        max-width: 360px;
    }
    .card_padrao{
        display: flex;
        margin-bottom: 10px;
        display: none;
    }
    .informacao_complementar_do_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .limite_box{
        max-width: 320px;
    }

    .botao_para_expandir_opcoes{
        margin-left: auto;
    }

    
    .expandable-div {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: width 0.5s ease-in-out;
        z-index: 10;
    }
    .expandable-div.expanded {
        width: 300px; /* Define a largura final da div expandida */
    }
    .opcoes{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgba(14, 211, 233, 0.7);
        transition: width 0.5s ease-in-out;
        z-index: 10;
        right: 60px;
        border-radius: 50px 50px 50px 50px;
        padding: 4px;
        /* width: 0px; */
        display: none;
    }
    .icones_opcao{
        margin-right: 10px;
        background-color: white;
        border-radius: 50%;
        
    }
    .remove_margem{
        margin: 0;
    }
</style>
</head>
<body>
    <div class="conteudo" id="conteudo">
        <h1>Aniversariantes</h1>
        <div class="filtros">
            <div>
                <label for="data_inicio">Data Início: </label>
                <input type="date" name="" id="data_inicio">
            </div>
            <div>
                <label for="data_fim">Data Final: </label>
                <input type="date" name="" id="data_fim">
            </div>
            <div>
                <label for="">Pesquisar:</label>
                <input type="text" name="" id="caixa_de_pesquisa">
            </div>
            <div>
                <input type="radio" name="opcao_de_periodo" id="hoje">Hoje
                <input type="radio" name="opcao_de_periodo" id="amanha">Amanhã
                <input type="radio" name="opcao_de_periodo" id="semana_atual">Semana Atual
                <input type="radio" name="opcao_de_periodo" id="todos">Todos
            </div>
        </div>
        <!-- INICIO card padrão para clonar e replicar -->
        <div class="div_lista_de_aniversariantes" >
            <div class="card_padrao">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M480-242q-67 0-129 23.5T235-149v9h490v-9q-54-46-116-69.5T480-242Zm0-60q74 0 139.5 24.5T740-211v-609H220v609q55-42 120.5-66.5T480-302Zm2-139q-32.5 0-55.25-22.75T404-519q0-32.5 22.75-55.25T482-597q32.5 0 55.25 22.75T560-519q0 32.5-22.75 55.25T482-441ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm262-301q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40Zm-2-138Z"/></svg>
                <div class="informacao_complementar_do_card" >
                    <p id="nome" class="limite_box" >Nome Exemplo</p> 
                    <p id="data_idade_organizacao" class="limite_box">Campo Exemplo: 12/04/1930 (94 anos) S. Socorro </p> 
                    <p id="nova_idade_e_dia_da_semana" class="limite_box">40 anos quinta-feira </p> 
                </div>
                <span class="material-symbols-outlined botao_para_expandir_opcoes">
                    more_vert
                </span>
                <div class="opcoes">
                    <span class="material-symbols-outlined icones_opcao">
                        send
                    </span>
                    <span class="material-symbols-outlined icones_opcao">
                        featured_seasonal_and_gifts
                    </span>
                    <span class="material-symbols-outlined icones_opcao">
                        content_copy
                    </span>
                    <span class="material-symbols-outlined icones_opcao remove_margem">
                        location_on
                    </span>
                </div>
            </div>
        </div>
        <!-- FIM card padrão para clonar e replicar -->

    </div>
</body>
<script>
    //Obtem do banco todas os aniversariantes
    obter_dados_aniversariantes();
    function obter_dados_aniversariantes(){
        var url = '/obter_dados_aniversariantes';
        var sucesso = preparar_dados;
        
        $.ajax({
            url:url,
            success: function(result){
                sucesso(result);
            },
            error: function(result){console.log(result)},
        });
    }

    //Captura o campo de tada
    var data_inicio = $('#data_inicio');

    //Declara data atual
    var hoje = new Date();

    // Ajusta o fuso horário para GMT-03:00 (180 minutos antes de UTC)
    hoje.setMinutes(hoje.getMinutes() -180);

    //Formata para dar valor ao campo de data
    var hojeFormatado = hoje.toISOString().split('T')[0];

    //Atribui valor ao campo de data
    data_inicio.val(hojeFormatado);

    //Atribui uma função para a alteração do campo
    data_inicio.on('change', filtrar_dados_aniversariantes);

    //Captura o campo de tada
    var data_fim = $('#data_fim');
    
    // Define a data para o último dia do mês corrente
    var ultimoDiaMesCorrente = new Date(hoje.getFullYear(), hoje.getMonth() + 1, 0);

    // Formata a data para o último dia do mês corrente
    var ultimoDiaMesCorrenteFormatado = ultimoDiaMesCorrente.toISOString().split('T')[0];

    //Atribui valor ao campo de data
    data_fim.val(ultimoDiaMesCorrenteFormatado);

    //Atribui uma função para a alteração do campo
    data_fim.on('change', filtrar_dados_aniversariantes);

    // Declara data para amanhã
    var amanha = new Date(hoje);
    amanha.setDate(amanha.getDate() + 1);

    // Formata para dar valor ao campo de data
    var amanhaFormatado = amanha.toISOString().split('T')[0];

    function preparar_dados(result){
        dados_aniversariantes = result.dados_aniversariantes;
        //Exibe Todos na Tela
        exibir_na_tela(dados_aniversariantes);

        //Re-Ajusta a Exibição para os filtros;
        filtrar_dados_aniversariantes();
    }

    function filtrar_dados_aniversariantes(){
        capturar_filtros();

        dados_aniversariantes_fltrados = dados_aniversariantes.filter((element) => 
            //Formata as datas para o padrão JS
            formatar_data(element.data_aniversário) === formatar_data(element.data_aniversário) &&
            //Filtro de Data de acordo com o selecionado 
            js_data_aniversario >= js_data_inicio && js_data_aniversario <= js_data_fim 
            //Filtro de texto
            && element.texto_exibido_na_tela.toLowerCase().includes(value_caixa_de_pesquisa.toLowerCase())
        );

        exibir_na_tela(dados_aniversariantes_fltrados)
    }

    function capturar_filtros(){
        value_data_inicio = data_inicio.val();
        value_data_fim = data_fim.val();

        js_data_inicio = new Date(value_data_inicio);
        js_data_fim = new Date(value_data_fim);

        value_caixa_de_pesquisa = $('#caixa_de_pesquisa').val();
    }
    
    const copia_card_padrao = $('.div_lista_de_aniversariantes').clone();
    function exibir_na_tela(dados) {
        console.log(dados);

        var div_lista_de_aniversariantes = $('.div_lista_de_aniversariantes');

        div_lista_de_aniversariantes.html('');

        dados.forEach(function(element) {
            //Linha do Nome
            copia_card_padrao.find('#nome').text(element.nome_interno);

            //Lina da Idade e organização
            //Monta o formato "20/05/1977 (47 anos) Q. Elderes"
            formatar_data(element.data_aniversário);
            var data_idade_organizacao = 
                br_data_aniversario + ' (' +
                element.idade + ' anos) ' +
                element.organizacao;

            copia_card_padrao.find('#data_idade_organizacao').text(data_idade_organizacao);
            
            //Linha da nova idade e dia da semana do aniversario
            //Define a nova idade
            if(js_data_aniversario < hoje){
                nova_idade = parseInt(element.idade); 
            }else{
                nova_idade = parseInt(element.idade)+1;
            }

            //Monta o formato "40 anos quinta-feira" 
            var nova_idade_e_dia_da_semana = nova_idade + ' anos ' + nome_do_dia_da_semana;

            copia_card_padrao.find('#nova_idade_e_dia_da_semana').text(nova_idade_e_dia_da_semana);

            //Ajusta a classe para exibir o card
            copia_card_padrao.find('.card_padrao').addClass('card');
            copia_card_padrao.find('.card_padrao').removeClass('card_padrao');

            //Ajusta o Id da div
            copia_card_padrao.find('.card').attr('id', element.id_membro_interno);

            

            //Insere o card na tela
            div_lista_de_aniversariantes.append(copia_card_padrao.html());

            //Insere no Array dados_aniversariantes_fltrados o texto_exibido_na_tela
            texto_exibido_na_tela = $('#'+element.id_membro_interno).find('.informacao_complementar_do_card').text();

            element.texto_exibido_na_tela = texto_exibido_na_tela;
        });
        $('.botao_para_expandir_opcoes').on('click', expandir_opcoes);
        $(window).on('click', recolher_todas_opcoes);
        $('.icones_opcao').on('click', acionar_opcao)
    }

    function formatar_data(element){
        //Padrão brasileiro
        dia = element.substr(8,2);
        mes = element.substr(5,2);
        ano = element.substr(0,4);
        br_data_aniversario = dia+'/'+mes+'/'+ano;

        //transformando para inteiros
        int_dia = parseInt(element.substr(8,2));
        int_mes = parseInt(element.substr(5,2));
        int_ano = parseInt(element.substr(0,4));

        //Padrão Js
        js_data_aniversario = new Date(hoje.getFullYear(),mes-1,dia);
        
        //Nome da semana em portugues
        nome_do_dia_da_semana = obter_nome_do_dia_da_semana(js_data_aniversario.getDay());

        return br_data_aniversario;
    }

    function obter_nome_do_dia_da_semana(numero_do_dia_da_semana){
        var diasSemana = [
          "Domingo",
          "Segunda-feira",
          "Terça-feira",
          "Quarta-feira",
          "Quinta-feira",
          "Sexta-feira",
          "Sábado",
        ];

        nome_do_dia_da_semana = diasSemana[numero_do_dia_da_semana];
        
        return nome_do_dia_da_semana;
    }
    
    function expandir_opcoes(){
        //Se ainda não estiver expandida expande
        if($(this).closest('.card').find('.opcoes').css('display') != 'flex'){
            $('.opcoes').css('display','none');
            $(this).closest('.card').find('.opcoes').css('display','flex');
        //Se já estiver expandido recolhe
        }else{
            $('.opcoes').css('display','none');
        }    
    }

    function recolher_todas_opcoes(){
        if(!event.target.className.includes('botao_para_expandir_opcoes') 
        ){
            $('.opcoes').css('display','none');
        }
    }
    
    function acionar_opcao(){
        //Prepara todas as informações que serão usadas
        id_membro_interno = $(this).closest('.card').attr('id');

        dados_do_aniversariante = dados_aniversariantes_fltrados.filter((element)=> parseInt(element.id_membro_interno) === parseInt(id_membro_interno))

        informacoes_prontas_na_tela = $(this).closest('.card').find('.informacao_complementar_do_card').text();

        endereco = dados_do_aniversariante[0].endereco;
        
        telefone = dados_do_aniversariante[0].telefone_individual;

        link_endereco = `https://www.google.com/maps?q=${encodeURIComponent(endereco)}`;

        link_telefone = `https://api.whatsapp.com/send?phone=${telefone}`;

        primeiro_nome = dados_do_aniversariante[0].nome_interno.split(" ")[0];

        conteudo_completo = `${assinatura_do_site}\n\n*Notificação de Aniversário:*\n\n${informacoes_prontas_na_tela.replace(/\s+/g, ' ')}\n\nContato: ${telefone}\n${link_telefone}\n\nEndereço: ${endereco}\n${link_endereco}\n\n\nPor que Lembrar do Aniversário de alguém?\nhttps://www.churchofjesuschrist.org/study/liahona/2019/08/latter-day-saint-voices/the-birthday-lasagna?lang=por`;
       
        //Filtra a ação solicitada e executa seu comando

        //Copiar conteudo
        if($(this).text().includes('content_copy')){
            copiar_texto(conteudo_completo);
        }
        
        //Enviar conteudo via Whatsapp
        if($(this).text().includes('send')){
            link = `https://api.whatsapp.com/send?phone=${telefone_do_usuario_logado}&text=${encodeURIComponent(conteudo_completo)}`;

            window.open(link, "_blank");
        }

        //Copiar Mensagem de parabenização
        if($(this).text().includes('featured_seasonal_and_gifts')){
            mensagem = `Olá, ${primeiro_nome}, parabéns por seu aniversário!\n\nA felicidade é uma condição da alma. O Profeta Joseph declarou: “A felicidade é a razão de ser e o propósito da nossa existência e, portanto, a alcançaremos, caso sigamos o caminho que nos leva a ela, que é a trilha da virtude, da retidão, da fidelidade e da santidade, guardando todos os mandamentos de Deus”.\n\nLhe desejamos grande felicidade hoje e sempre em sua vida!\n\nhttps://www.churchofjesuschrist.org/study/general-conference/2005/10/true-happiness-a-conscious-decision?lang=por`;

            copiar_texto(mensagem);
        }

        //Acessar endereço via google maps
        if($(this).text().includes('location_on')){
            window.open(link_endereco, "_blank");
        }
    }
    
    function copiar_texto(texto) {
        textarea = document.createElement("textarea");
        textarea.value = texto;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand("copy");
        textarea.remove();
        
        return texto;
      }

      $('#caixa_de_pesquisa').on('keyup',filtrar_dados_aniversariantes)
</script>
</html>
