<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Divs Arrastáveis</title>
    <style>
      .draggable {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 5px;
        /* cursor: move; */
      }

      .dragging {
        opacity: 0.5;
      }

      .flex {
        display: flex;
      }
      .column {
        flex-direction: column;
      }
      .row {
        flex-direction: row;
      }
      .tamanho {
        width: 360px;
      }
      .div_img_icone {
        display: flex;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUb-j_tc0tQGYF8zBywQ2MXUFuh0PoqNWUL4qu8lTShtqo7IhFRBZhOlVmM1dKN0ospPs&usqp=CAU");
        background-size: 62px;
        background-repeat: no-repeat;
        background-position: -6px 4px;
        margin-right: 8px;
        /* background-color: rgba(255, 255, 255, 9.9); */
      }
      .div_img_icone_2 {
        display: flex;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUb-j_tc0tQGYF8zBywQ2MXUFuh0PoqNWUL4qu8lTShtqo7IhFRBZhOlVmM1dKN0ospPs&usqp=CAU");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: -5px 4px;
        margin-right: 8px;
        /* background-color: rgba(255, 255, 255, 9.9); */
      }

      .div_img_icone_whats {
        display: flex;
        border-radius: 50px;
        width: 45px;
        height: 45px;
      }
      .justify {
        justify-content: center;
      }
      .align {
        align-items: center;
      }
      .direita {
        margin-left: auto;
      }
      #container {
        min-height: 100px; /* altura mínima para permitir arrastar até o final */
      }
      .campo_texto {
        width: 240px;
      }

      .campo_texto2 {
        width: 260px;
      }

      .img_icones {
        display: flex;
        border-radius: 50px;
        width: 60px;
        height: 60px;
      }

      .campo_texto {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        border-color: #007bff;
        font-size: medium;
      }

      .campo_texto:focus {
        outline: none;
        border-color: #007bff;
      }
      .campo_titulo {
        font-weight: bold;
      }
      .caixa_card {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="">
      <div class="flex align caixa_card">
        <img
          class="img_icones"
          src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbcovNVVru4IdDjzVtkoOGzESOnDOTteI8mQ2opf40-KxIaTPDamWUq4EujMIYLTUfmuC43Okh5-lcpBPgDxHDJJmCa=w1366-h612"
          alt=""
        />
        <div class="flex column">
          <label for="" class="campo_titulo">Discursante: </label>
          <input type="text" name="" id="" class="campo_texto" />
          <!-- <label for="" class="campo_titulo">Tema: </label>
          <input type="text" name="" id="" class="campo_texto" />
          <label for="" class="campo_titulo">Duração: </label>
          <input type="text" name="" id="" class="campo_texto" /> -->
        </div>
      </div>
    </div>
    <div>
      <div class="flex align">
        <img
          class="img_icones"
          src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZQz7BZyXItwoBkN1SxpPq362H0Hrz8jdVTyjz3H6hoYiV33hC15UsfzU31gu7tQKN33hNN1ms4TfSpBhRiiA6vVis0RQ=w1366-h612"
          alt=""
        />
        <div class="flex column" style="margin-left: 5px">
          <label for="">Discurso:</label>
          <input type="text" name="" id="" />
        </div>
      </div>
    </div>
    <img
      class="img_icones"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShOa4WBas6DEINLBsc-S7YvSLp9gaoyyC8EPjKWW0C2DUkx_T4ke1oAsNiTqub7GtHzWg&usqp=CAU"
      alt=""
    />

    <img
      class="img_icones"
      src="https://img.freepik.com/vetores-gratis/grupo-de-empresario-sentado-seminario-reunindo-pessoas-do-escritorio-desenho-de-ilustracao-vetorial-plana_40876-2754.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701043200&semt=ais"
      alt=""
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihafYARtdyBc7cGtT_0wwRxgJ7MTtsSl91bpruZDuc-IZHXOPBD6JdUjhoHjbVZYKhNv7Oeg4wehcNJ_Y6C7ojh22Uip7A=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo discursante_m3.jpg"
      aria-hidden="true"
    />
    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYzvrIfphWuIOhbKJMnxlDPfSncKGk3_oY1zDZel9XSnx5QuTIHrhsBzI7scCPXVFBT5By-DPKUe0M_e5bNDhyraG5X=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo discursante_m4.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbsH30ExUeHiteBkxZAy-MvUr2B3dh-1BvdmhbSmI57KNLxge8Rvps7Houd6DRGh3H1SHOVR0UtiBRVTmmrrWE0M_Xa=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo discursante_m5.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZStyyeIj1HXd9uGMsMTIXoKMhejM0LM57CFi3blhXaei3GZ80rPFiLL750J5yGZTtGX3c5CY7lJxo8lFOI8MtR6UKe=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo discursante_m6.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbw-tEJ_EolOOJ-wOLzjlvHLfzQqRAP4_qXGXpJshfr9Fqr8edyY-9dH70Cti1A5dFKVtKIHPBRWNgddGVbyJvkn1BfMg=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo oracao_f.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYosBB4heBieR7OL2di_59X_hXPk8hCcUvI8vHW2PyLcyzForUBIB_f9ccSaRWq07CHLTLigIneCCmc747so8OID7UM=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo presidindo.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYzV5ziYfrW3Nka2Oq1G_2Ns87e0S07lEnJ0YQZZRc9A7TnEyetVwXpLkOT12N_I6LOgL_IA7Yysp31xML1b2SX2SqWvQ=w1366-h382"
      class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
      alt="Exibindo discursante_f.jpg"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://play-lh.googleusercontent.com/L2kqKZlhMsFW7Nh9hW2kct8Za9Kan9RhsdecehXRGoMgY7ZcypccgG8snIeA7tO-u7w=w480-h960"
      alt="Exibindo hinos"
      aria-hidden="true"
    />

    <img
      class="img_icones"
      src="https://yt3.googleusercontent.com/dai59GLE30jam5492KJvcZd7u4cZDjwwnC2451jTHVzhaZNQuqYDqygJsI0fXuyh1KjvqCqHeQ=s900-c-k-c0x00ffffff-no-rj"
      alt="Exibindo hinos"
      aria-hidden="true"
    />
    <div class="flex justify">
      <div id="container">
        <div class="draggable tamanho" draggable="true" id="15">
          <div class="flex align justify">
            <div class="div_img_icone_2"></div>
            <label for="">Oração</label>
            <span class="material-symbols-outlined drag_indicator">
              drag_indicator
            </span>
          </div>

          <div class="flex align justify">
            <input type="text" name="" id="" class="" />
          </div>
        </div>

        <div class="draggable tamanho" draggable="true" id="15">
          <div class="flex row align justify">
            <div class="">
              <div class="flex align justify">
                <div class="div_img_icone_2"></div>
                <label for="">Oração</label>
              </div>

              <div class="flex align justify">
                <label for="">Nome:</label>
                <input type="text" name="" id="" class="campo_texto2" />
              </div>
              <div class="flex align justify">
                <span class="material-symbols-outlined"> expand_more </span>
              </div>
            </div>
            <div class="direita">
              <span class="material-symbols-outlined drag_indicator direita">
                drag_indicator
              </span>
            </div>
          </div>
        </div>

        <div class="draggable tamanho" draggable="true" id="15">
          <div class="flex align justify">
            <div class="div_img_icone"></div>

            <div class="flex column">
              <label for=""> Oração </label>
              <input type="text" name="" id="" class="campo_texto" />
            </div>
            <div class="flex row direita">
              <span class="material-symbols-outlined"> unfold_more </span>

              <span class="material-symbols-outlined drag_indicator direita">
                drag_indicator
              </span>
            </div>
          </div>
        </div>

        <div class="draggable flex column tamanho" draggable="true" id="15">
          <div class="flex align">
            <div class="div_img_icone">
              <!-- <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUb-j_tc0tQGYF8zBywQ2MXUFuh0PoqNWUL4qu8lTShtqo7IhFRBZhOlVmM1dKN0ospPs&usqp=CAU"
                alt=""
              /> -->
            </div>
            <label for="">Oração: </label>

            <input type="text" name="" id="" class="campo_texto" />
            <!-- <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span> -->
            <span class="material-symbols-outlined"> expand_more </span>
            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>

          <div class="opcoes flex align justify">
            <span class="material-symbols-outlined"> delete </span>
            <div class="div_img_icone_whats">
              <img
                src="https://png.pngtree.com/element_our/png/20181011/whatsapp-social-media-icon-design-template-vector-png_127058.jpg"
                alt=""
              />
            </div>
            <span class="material-symbols-outlined"> content_copy </span>
          </div>
        </div>

        <div class="draggable flex column tamanho" draggable="true" id="1">
          <div class="flex align justify">
            <div class="div_img_icone">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUb-j_tc0tQGYF8zBywQ2MXUFuh0PoqNWUL4qu8lTShtqo7IhFRBZhOlVmM1dKN0ospPs&usqp=CAU"
                alt=""
              />
            </div>
            <label for="">Oração:</label>
            <input type="text" class="campo_texto" />

            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>

          <!-- <div class="flex align justify">
            <span class="material-symbols-outlined"> expand_more </span>
          </div> -->
        </div>

        <div
          class="draggable flex column tamanho align"
          draggable="true"
          id="2"
        >
          <div class="flex align justify">
            <div class="flex align justify">
              <div class="div_img_icone">
                <img
                  src="https://img2.gratispng.com/20180516/hgq/kisspng-computer-icons-politics-election-political-party-p-5afc8728c5a875.5304747915264991128096.jpg"
                  alt=""
                />
              </div>
              <label for="">Discurso</label>
            </div>
            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>
          <input type="text" class="campo_texto" />
        </div>

        <div class="draggable flex column tamanho" draggable="true" id="3">
          <div class="flex align justify">
            <div class="div_img_icone">
              <img
                src="https://cdn-icons-png.flaticon.com/512/5741/5741717.png"
                alt=""
              />
            </div>
            <label for="">Anúncio</label>

            <div class="opcoes flex align justify direita">
              <span class="material-symbols-outlined"> delete </span>
              <div class="div_img_icone_whats">
                <img
                  src="https://png.pngtree.com/element_our/png/20181011/whatsapp-social-media-icon-design-template-vector-png_127058.jpg"
                  alt=""
                />
              </div>
              <span class="material-symbols-outlined"> content_copy </span>
            </div>
            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>
          <input type="text" class="" />
        </div>

        <div class="draggable flex column tamanho" draggable="true" id="4">
          <div class="flex align justify">
            <div class="div_img_icone">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUb-j_tc0tQGYF8zBywQ2MXUFuh0PoqNWUL4qu8lTShtqo7IhFRBZhOlVmM1dKN0ospPs&usqp=CAU"
                alt=""
              />
            </div>
            <label for="">Oração</label>
            <div class="opcoes flex align justify direita">
              <span class="material-symbols-outlined"> delete </span>
              <div class="div_img_icone_whats">
                <img
                  src="https://png.pngtree.com/element_our/png/20181011/whatsapp-social-media-icon-design-template-vector-png_127058.jpg"
                  alt=""
                />
              </div>
              <span class="material-symbols-outlined"> content_copy </span>
            </div>

            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>
          <input type="text" class="" />
          <div class="flex align justify">
            <span class="material-symbols-outlined"> expand_more </span>
          </div>
        </div>

        <div class="draggable flex column tamanho" draggable="true" id="5">
          <div class="flex align justify">
            <div class="div_img_icone">
              <img
                src="https://img2.gratispng.com/20180516/hgq/kisspng-computer-icons-politics-election-political-party-p-5afc8728c5a875.5304747915264991128096.jpg"
                alt=""
              />
            </div>
            <label for="">Discurso</label>

            <div class="opcoes flex align justify direita">
              <span class="material-symbols-outlined"> delete </span>
              <div class="div_img_icone_whats">
                <img
                  src="https://png.pngtree.com/element_our/png/20181011/whatsapp-social-media-icon-design-template-vector-png_127058.jpg"
                  alt=""
                />
              </div>
              <span class="material-symbols-outlined"> content_copy </span>
            </div>
            <span class="material-symbols-outlined drag_indicator direita">
              drag_indicator
            </span>
          </div>
          <input type="text" class="" />
        </div>
      </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script>
      $(document).ready(function () {
        $(".draggable").on("dragstart", function (e) {
          e.originalEvent.dataTransfer.setData("text/plain", e.target.id);
          setTimeout(() => {
            e.target.classList.add("dragging");
          }, 0);
        });

        $("#container").on("dragover", function (e) {
          e.preventDefault();
          const afterElement = getDragAfterElement($("#container"), e.clientY);
          const draggable = $(".dragging");
          if (afterElement == null) {
            $("#container").append(draggable);
          } else {
            $(draggable).insertBefore(afterElement);
          }
        });

        $(".draggable").on("drop", function (e) {
          const id = e.originalEvent.dataTransfer.getData("text/plain");
          const draggable = $("#" + id);
          const afterElement = getDragAfterElement($("#container"), e.clientY);
          if (afterElement == null) {
            $("#container").append(draggable);
          } else {
            $(draggable).insertBefore(afterElement);
          }
          reorganizeIDs();
          $(draggable).removeClass("dragging"); // Remover a classe "dragging" após soltar o elemento
        });
      });

      function getDragAfterElement(container, y) {
        const draggableElements = $(".draggable:not(.dragging)").toArray();
        return draggableElements.reduce(
          (closest, child) => {
            const box = $(child).offset();
            const offset = y - box.top - $(child).outerHeight() / 2;
            if (offset < 0 && offset > closest.offset) {
              return { offset: offset, element: child };
            } else {
              return closest;
            }
          },
          { offset: Number.NEGATIVE_INFINITY }
        ).element;
      }

      function reorganizeIDs() {
        $(".draggable").each(function (index) {
          $(this).attr("id", index + 1);
        });
      }
    </script>
  </body>
</html>
