<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <style>
      .div_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to right, #002040, #0099c8);
      }

      * {
        font-family: "Arial", sans-serif;
      }

      .flex {
        display: flex;
        margin-bottom: 10px;
      }

      .div_container label,
      h1 {
        color: aliceblue;
      }

      .botao_enviar {
        background-color: green;
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <div class="div_container">
      <h1>Cadastro</h1>

      <div class="flex">
        <label for="">Nome:</label>
        <input type="text" name="" id="" />
      </div>

      <div class="flex">
        <label for="">Idade:</label>
        <input type="number" name="" id="" />
      </div>

      <div class="flex">
        <label for="">Data de Nascimento:</label>
        <input type="date" name="" id="" />
      </div>

      <div class="flex">
        <label for="">Gênero:</label>
        <input type="radio" name="Gênero" id="" />
        <label for="">Masculino</label>
        <input type="radio" name="Gênero" id="" />
        <label for="">Feminino</label>
      </div>

      <select name="" id="">
        <option value="">Membro</option>
        <option value="">Visistante</option>
      </select>

      <label for="">Observações:</label>

      <textarea name="" id="" cols="30" rows="10"></textarea>

      <input type="button" value="Enviar" class="botao_enviar" />
    </div>
  </body>
  <script>
    
  </script>
</html>
