SELECT * FROM atas.tb_hinos


DROP TABLE IF EXISTS atas.tb_hinos;

CREATE TABLE IF NOT EXISTS atas.tb_hinos
(
	id_hino SERIAL,
    hino character varying,
	origem int
);

INSERT INTO atas.tb_hinos (hino,origem)
VALUES 
('1. A Alva Rompe',1),
('2. Tal Como um Facho',1),
('3. Alegres Cantemos',1),
('4. No Monte a Bandeira',1),
('5. Israel, Jesus Te Chama',1),
('6. Um Anjo Lá do Céu',1),
('7. O Que Vimos Lá nos Céus',1),
('8. Oração pelo Profeta',1),
('9. Graças Damos, Ó Deus, Por um Profeta',1),
('10. Vinde ao Profeta Escutar',1),
('11. Abençoa Nosso Profeta',1),
('12. Que Manhã Maravilhosa!',1),
('13. Rejubilai-vos, Ó Nações',1),
('14. Hoje, ao Profeta Louvemos',1),
('15. Um Pobre e Aflito Viajor',1),
('16. Ó Montanhas Mil',1),
('17. Por Teus Dons',1),
('18. Vede, Ó Santos',1),
('19. Sereno Finda o Dia',1),
('20. Vinde, Ó Santos',1),
('21. Ao Salvador Louvemos',1),
('22. Em Glória Resplandesce',1),
('23. Lá nos Cumes',1),
('24. Vem, Ó Dia Prometido',1),
('25. Bela Sião',1),
('26. O Mundo Desperta',1),
('27. Vinde, Ó Filhos do Senhor',1),
('28. Ó Vem, Supremo Rei',1),
('29. Ó Criaturas do Senhor',1),
('30. Ó Santos, Que na Terra Habitais',1),
('31. Com Braço Forte',1),
('32. Castelo Forte',1),
('33. Glória a Deus Cantai',1),
('34. Louvai a Deus',1),
('35. A Deus, Senhor e Rei',1),
('36. Deus É Amor',1),
('37. O Senhor Meu Pastor É',1),
('38. Que Toda Honra e Glória',1),
('39. Corações, Pois, Exultai',1),
('40. Jeová, Sê Nosso Guia',1),
('41. Firmes Segui',1),
('42. Que Firme Alicerce',1),
('43. Grandioso És Tu',1),
('44. Jesus, Minha Luz',1),
('45. Ó Vós Que Amais ao Senhor',1),
('46. Nossas Vozes Elevemos',1),
('47. Deus nos Rege com Amor',1),
('48. Ó Pai Bendito',1),
('49. Pela Beleza do Mundo',1),
('50. Cantando Louvamos',1),
('51. Oração de Graças',1),
('52. Vinde, Ó Povos, Graças Dar',1),
('53. Se Tenho Fé',1),
('54. Doce É o Trabalho',1),
('55. Santo! Santo! Santo!',1),
('56. Os Céus Proclamam',1),
('57. Conta as Bênçãos',1),
('58. Ao Deus de Abraão Louvai',1),
('59. Louvai o Eterno Criador',1),
('60. Brilha, Meiga Luz',1),
('61. Careço de Jesus',1),
('62. Mais Perto Quero Estar',1),
('63. Guia-me a Ti',1),
('64. Ó Pai Celeste',1),
('65. Jesus Cristo É Meu Senhor',1),
('66. Creio em Cristo',1),
('67. Vive o Redentor',1),
('68. Vinde a Mim',1),
('69. Vinde a Cristo',1),
('70. Eu Sei Que Vive Meu Senhor',1),
('71. Testemunho',1),
('72. Mestre, o Mar Se Revolta',1),
('73. Onde Encontrar a Paz?',1),
('74. Sê Humilde',1),
('75. Mais Vontade Dá-me',1),
('76. Rocha Eterna',1),
('77. A Luz de Deus',1),
('78. Embora Cheios de Pesar',1),
('79. Ó Doce, Grata Oração',1),
('80. Santo Espírito de Deus',1),
('81. Secreta Oração',1),
('82. Eis-nos Agora Aqui',1),
('83. Com Fervor Fizeste a Prece?',1),
('84. Só por em Ti, Jesus, Pensar',1),
('85. Deus Vos Guarde',1),
('86. Nós Pedimos-te, Senhor',1),
('87. Ó Bondoso Pai Eterno',1),
('88. Dá-nos, Tu, ó Pai Bondoso',1),
('89. Ao Partir Cantemos',1),
('90. Teu Santo Espírito, Senhor',1),
('91. Qual Orvalho Que Cintila',1),
('92. Vai Fugindo o Dia',1),
('93. Suavemente a Noite Cai',1),
('94. Oração para a Noite',1),
('95. Eis-nos, Hoje, a Teus Pés',1),
('96. É Tarde, a Noite Logo Vem',1),
('97. Comigo Habita',1),
('98. Ó Deus, Senhor Eterno',1),
('99. Ao Partilhar de Teu Amor',1),
('100. Entoai a Deus Louvor',1),
('101. Deus, Escuta-nos Orar',1),
('102. Nossa Humilde Prece Atende',1),
('103. Enquanto unidos em Amor',1),
('104. Quão Grato É Cantar Louvor',1),
('105. Cantemos Todos a Jesus',1),
('106. Jesus de Nazaré, Mestre e Rei',1),
('107. Deus Tal Amor por Nós Mostrou',1),
('108. Eis-nos à Mesa do Senhor',1),
('109. Em uma Cruz Jesus Morreu',1),
('110. Vede, Morreu o Redentor',1),
('111. Lembrando a Morte de Jesus',1),
('112. Assombro me Causa',1),
('113. No Monte do Calvário',1),
('114. Da Corte Celestial',1),
('115. Tão Humilde ao Nascer',1),
('116. Sobre o Calvário',1),
('117. Com Irmãos Nós Reunidos',1),
('118. Manhã da Ressurreição',1),
('119. Cristo É Já Ressuscitado',1),
('120. Cristo Já Ressuscitou',1),
('121. Mundo Feliz, Nasceu Jesus',1),
('122. Erguei-vos Cantando',1),
('123. Lá na Judéia, Onde Cristo Nasceu',1),
('124. Anjos Descem a Cantar',1),
('125. Ouvi os Sinos do Natal',1),
('126. Noite Feliz',1),
('127. Jesus num Presépio',1),
('128. Na Bela Noite Se Ouviu',1),
('129. Pequena Vila de Belém',1),
('130. No Céu Desponta Nova Luz',1),
('131. No Dia de Natal',1),
('132. Eis dos Anjos a Harmonia',1),
('133. Quando o Anjo Proclamou',1),
('134. Sim, Eu Te Seguirei',1),
('135. Eu Devo Partilhar',1),
('136. Neste mundo',1),
('137. Oh! Falemos Palavras Amáveis',1),
('138. Não Deixeis Palavras Duras',1),
('139. Deus É Consolador Sem Par',1),
('140. Ama o Pastor Seu Rebanho',1),
('141. Trabalhemos Hoje',1),
('142. Nossa Lei É Trabalhar',1),
('143. Pai, Inspira-me ao Ensinar',1),
('144. Mãos ao Trabalho',1),
('145. Sempre Que Alguém Nos Faz o Bem',1),
('146. Se a Vida É Penosa',1),
('147. Faze o Bem',1),
('148. Faze o Bem, Escolhendo o Que É Certo',1),
('149. A Alma É Livre',1),
('150. Quem Segue ao Senhor?',1),
('151. Minha Alma Hoje Tem a luz',1),
('152. Prolongue os Bons Momentos',1),
('153. Deixa a Luz do Sol Entrar',1),
('154. Enquanto o Sol Brilha',1),
('155. Luz Espalhai',1),
('156. Agora Não, mas Logo Mais',1),
('157. Amor que Cristo Demonstrou',1),
('158. Tu Jesus, Ó Rocha Eterna',1),
('159. À Glória Nós Iremos',1),
('160. Somos os Soldados',1),
('161. As Hostes do Eterno',1),
('162. Com Valor Marchemos',1),
('163. Ide por Todo o Mundo',1),
('164. De Um a Outro Pólo',1),
('165. Semeando',1),
('166. Chamados a Servir',1),
('167. Aonde Mandares Irei',1),
('168. Povos da Terra, Vinde, Escutai!',1),
('169. Eis os Teus Filhos, Ó Senhor',1),
('170. Avante, ao Mundo Proclamai',1),
('171. A Verdade o Que É?',1),
('172. A Verdade É Nosso Guia',1),
('173. Ao Raiar o Novo Dia',1),
('174. Sê Bem-vindo, Dia Santo',1),
('175. Do Pó Nos Fala uma Voz',1),
('176. Estudando as Escrituras',1),
('177. Ó Meu Pai',1),
('178. Ó Quão Majestosa É a Obra de Deus',1),
('179. Ó Jeová, Senhor do Céu',1),
('180. Já Refulge a Glória Eterna',1),
('181. O Fim Se Aproxima',1),
('182. Juventude da Promessa',1),
('183. Deve Sião Fugir à Luta?',1),
('184. Constantes Qual Firmes Montanhas',1),
('185. Quão Belos São',1),
('186. Levantai-vos, Ide ao Templo',1),
('187. Nós Dedicamos Esta Casa',1),
('188. Com Amor no Lar',1),
('189. Pode o Lar Ser Como o Céu',1),
('190. Os Teus Filhos, Pai Celeste',1),
('191. As Famílias Poderão Ser Eternas',1),
('192. Ó Crianças, Deus Vos Ama',1),
('193. Sou um Filho de Deus',1),
('194. Guarda os Mandamentos',1),
('195. Eu Sei que Deus Vive',1),
('196. Nas Montanhas de Sião',1),
('197. Amai-vos Uns aos Outros',1),
('198. Quando Vejo o Sol Raiar',1),
('199. Faz-me Andar Só na Luz',1),
('200. Irmãs em Sião',1),
('201. Ó Filhos do Senhor',1),
('202. Brilham Raios de Clemência',1),
('203. Ó Élderes de Israel',1),
('204. Ó Vós, Que Sois Chamados',1)


--------------------------------------------
--SELECT * FROM atas.tb_chamados;


DROP TABLE IF EXISTS atas.tb_chamados;

CREATE TABLE IF NOT EXISTS atas.tb_chamados
(
	id_chamado SERIAL,
    chamado character varying
);

INSERT INTO atas.tb_chamados (chamado)
VALUES 
('Bispo'),
('Primeiro Conselheiro no Bispado'),
('Segundo Conselheiro no Bispado'),
('Secretário Executivo da Ala'),
('Secretário executivo assistente da ala'),
('Secretário executivo assistente da ala'),
('Secretário da Ala'),
('Presidente do Quórum de Élderes'),
('Primeiro Conselheiro no Quórum de Élderes'),
('Segundo Conselheiro no Quórum de Élderes'),
('Secretário do Quórum de Élderes'),
('Assistente Secretário do Quórum de Élderes'),
('Professor do quórum de élderes'),
('Secretário de ministração do quórum de élderes'),
('Coordenador de atividades do quórum de élderes'),
('Coordenador assistente de atividades do quórum de élderes'),
('Membro do comitê de atividades do quórum de élderes'),
('Coordenador de serviço do quórum de élderes'),
('Coordenador assistente de serviço do quórum de élderes'),
('Membro do comitê de serviço do quórum de élderes'),
('Presidente da Sociedade de Socorro'),
('Primeira Conselheira da Sociedade de Socorro'),
('Segunda Conselheira da Sociedade de Socorro'),
('Secretária da Sociedade de Socorro'),
('Secretária Assistente da Sociedade de Socorro'),
('Professora da Sociedade de Socorro'),
('Secretária de ministração da Sociedade de Socorro'),
('Coordenadora de atividades da Sociedade de Socorro'),
('Coordenadora assistente de atividades da Sociedade de Socorro'),
('Membro do comitê de atividades da Sociedade de Socorro'),
('Líder de Música da Sociedade de Socorro'),
('Pianista da Sociedade de Socorro'),
('Coordenadora de serviço da Sociedade de Socorro'),
('Coordenadora assistente de serviço da Sociedade de Socorro'),
('Membro do comitê de serviço da Sociedade de Socorro'),
('Bispo'),
('Primeiro Conselheiro no Bispado'),
('Segundo Conselheiro no Bispado'),
('Presidente do Quórum de Sacerdotes'),
('Primeiro Assistente do Quórum de Sacerdotes'),
('Segundo Assistente do Quórum de Sacerdotes'),
('Secretário do Quórum de Sacerdotes'),
('Consultor do Quórum de Sacerdotes'),
('Especialista do quórum de sacerdotes'),
('Presidente do Quórum de Mestres'),
('Primeiro Conselheiro no Quórum de Mestres'),
('Segundo Conselheiro no Quórum de Mestres'),
('Secretário do Quórum de Mestres'),
('Consultor do Quórum de Mestres'),
('Consultor Adjunto do Quórum de Mestres'),
('Presidente do Quórum de Diáconos'),
('Primeiro Conselheiro no Quórum de Diáconos'),
('Segundo Conselheiro no Quórum de Diáconos'),
('Secretário do Quórum de Diáconos'),
('Consultor do Quórum de Diáconos'),
('Especialista do quórum de diáconos'),
('Membro do Comitê dos Rapazes da Estaca'),
('Especialista dos Rapazes — Esportes'),
('Especialista dos Rapazes — Assistente de esportes'),
('Especialista dos quóruns do Sacerdócio Aarônico'),
('Presidente das Moças'),
('Primeira Conselheira das Moças'),
('Segunda Conselheira das Moças'),
('Secretária das Moças'),
('Especialista das Moças'),
('Presidente da classe das Moças'),
('Primeira conselheira da classe das Moças'),
('Segunda conselheira da classe das Moças'),
('Secretária da classe das Moças'),
('Consultoras da classe das Moças'),
('Especialista das Moças'),
('Especialista das Moças'),
('Especialista das Moças - Atividades'),
('Especialista das Moças - Diretora de acampamento'),
('Especialista das Moças - Diretora adjunta de acampamento'),
('Comitê das Moças da Estaca'),
('Especialista das Moças — Esportes'),
('Especialista das Moças — Assistente de esportes'),
('Presidente da Escola Dominical'),
('Primeiro Conselheiro da Escola Dominical'),
('Segundo Conselheiro da Escola Dominical'),
('Secretário da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Professor(a) da Escola Dominical'),
('Especialista do Centro de Recursos'),
('Presidente da Primária'),
('Primeira Conselheira da Primária'),
('Segunda Conselheira da Primária'),
('Secretária da Primária'),
('Pianista da Primária'),
('Líder de Música da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Professor(a) da Primária'),
('Líder do Berçário'),
('Professor(a) da Primária'),
('Líder de atividades da Primária'),
('Líder de atividades da Primária'),
('Líder da Missão da Ala'),
('Assistente do Líder da Missão da Ala'),
('Missionário da Ala'),
('Missionário da Ala'),
('Missionário da Ala'),
('Missionário da Ala'),
('Missionário da Ala'),
('Missionário da Ala'),
('Missionário'),
('Líder de Templo e História da Família da Ala'),
('Consultor de Templo e História da Família da Ala'),
('Indexador'),
('Consultora das Irmãs Jovens Adultas Solteiras da Sociedade de Socorro'),
('Consultor dos Jovens Adultos Solteiros'),
('Líder dos Jovens Adultos Solteiros'),
('Young Single Adult Committee Chair'),
('Young Single Adult Committee Member'),
('Representante de A Liahona'),
('Representante do Edifício'),
('Programador - Edifício 1'),
('Programador - Edifício 2'),
('Programador - Edifício 3'),
('Programador - Edifício 4'),
('Programador - Edifício 5'),
('Representante do FSY'),
('Especialista em História'),
('Pianista ou Organista do Sacerdócio'),
('Regente do Sacerdócio'),
('Pianista/Organista de Coro'),
('Consultor de Música'),
('Diretor de Coro'),
('Organista'),
('Líder de música'),
('Coordenador de música'),
('Especialista de comunicações por e-mail'),
('Especialista de tecnologia'),
('Ward/Branch Interpreter'),
('Líder de atividades para pessoas com deficiências'),
('Especialista em Pessoas com Necessidades Especiais'),
('Especialista de bem-estar e autossuficiência'),
('Facilitador de grupo de autossuficiência')