
    <script>
    cards_padrão = [
    {
        card: 1,
        posicao_no_card: 1,
        label: "Anúncio:",
        tipo: "texto_livre",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 1,
        posicao_no_card: 2,
        label: "Data:",
        tipo: "data",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 1,
        posicao_no_card: 3,
        label: "Local",
        tipo: "texto_livre",
        elemento_oculto: 0,
    },
    {
        card: 1,
        posicao_no_card: 1,
        label: "Observações:",
        tipo: "texto_livre",
        elemento_oculto: 1,
    },
    {
        card: 2,
        posicao_no_card: 1,
        label: "Hino de Abertura:",
        tipo: "hinos",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 3,
        posicao_no_card: 1,
        label: "Oração:",
        tipo: "nomes",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 4,
        elemento_oculto: 0,
        label: "Discursante:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    {
        card: 4,
        elemento_oculto: 1,
        label: "Tema:",
        posicao_no_card: null,
        tipo: "texto_livre",
        value: "",
    },
    {
        card: 4,
        elemento_oculto: 1,
        label: "Duração:",
        posicao_no_card: null,
        tipo: "texto_livre",
        value: "",
    },
    {
        card: 5,
        elemento_oculto: 0,
        label: "Regente:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    {
        card: 6,
        elemento_oculto: 0,
        label: "Organista:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    ];


    modelo_de_ata_padrao = [
    {
        card: 1,
        posicao_no_card: 1,
        label: "Anúncio:",
        tipo: "texto_livre",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 1,
        posicao_no_card: 2,
        label: "Data:",
        tipo: "data",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 1,
        posicao_no_card: 3,
        label: "Local",
        tipo: "texto_livre",
        elemento_oculto: 0,
    },
    {
        card: 1,
        posicao_no_card: 1,
        label: "Observações:",
        tipo: "texto_livre",
        elemento_oculto: 1,
    },
    {
        card: 2,
        posicao_no_card: 1,
        label: "Hino de Abertura:",
        tipo: "hinos",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 3,
        posicao_no_card: 1,
        label: "Oração:",
        tipo: "nomes",
        elemento_oculto: 0,
        value: "",
    },
    {
        card: 3,
        posicao_no_card: 2,
        label: "Teste Oculto:",
        tipo: "nomes",
        elemento_oculto: 1,
    },
    {
        card: 4,
        elemento_oculto: 0,
        label: "Discursante:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    {
        card: 4,
        elemento_oculto: 1,
        label: "Tema:",
        posicao_no_card: null,
        tipo: "texto_livre",
        value: "",
    },
    {
        card: 4,
        elemento_oculto: 1,
        label: "Duração:",
        posicao_no_card: null,
        tipo: "texto_livre",
        value: "",
    },
    {
        card: 5,
        elemento_oculto: 0,
        label: "Regente:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    {
        card: 6,
        elemento_oculto: 0,
        label: "Organista:",
        posicao_no_card: null,
        tipo: "nomes",
        value: "",
    },
    ]
</script>