--Criar Novos Usuários (Jucelino,Missionarios,John (Michael, Julia, Allysson))


--Ao Criar cards há um espaço branco no overlay
--Bugs na criação de ata 
--Salvamento duplo de usuários
--Editor de Usuários
--Criar Acessos Novos
--Dashboard (Graficos)
--Correlação e reuniões de bispado e presidência

--backend
--Separar as views
--Criar banco postgres com o AWS

SELECT pg_terminate_backend(pid)
FROM pg_stat_activity
WHERE state = 'idle' AND backend_type = 'client backend'
and client_port not in (46698);

--Para subir uma atualização
cd C:\Projetos\ProjetoMaisFerramentasGIT>
git add . 
git commit -m "Inicializar repositório com o projeto Django"
git push -u origin master
ssh -i C:\Projetos\ProjetoMaisFerramentas\maisferramentas.pem ubuntu@18.231.47.174
cd ~/projetos/projetomaisferramentas/ProjetoMaisFerramentas
git pull https://github.com/maisferramentas/ProjetoMaisFerramentasGIT.git



