--Criar Novos Usuários (Jucelino,Missionarios,John (Michael, Julia, Allysson))


--Ao Criar cards há um espaço branco no overlay


--3) Ajustar ovo

--Bugs na criação de ata 
--Salvamento duplo de usuários
--Editor de Usuários
--Criar Acessos Novos
--Dashboard (Graficos)
--Correlação e reuniões de bispado e presidência

--backend
--Separar as views
--Criar banco postgres com o AWS



--Para subir uma atualização
cd C:\Projetos\ProjetoMaisFerramentasGIT>
git add . 
git commit -m "Inicializar repositório com o projeto Django"
git push -u origin master
ssh -i C:\Projetos\ProjetoMaisFerramentas\maisferramentas.pem ubuntu@18.231.47.174
cd ~/projetos/projetomaisferramentas/ProjetoMaisFerramentas
git pull https://github.com/maisferramentas/ProjetoMaisFerramentasGIT.git



