<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  
</style>
</head>
<body>
    <div class="conteudo" id="conteudo"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    //Obtem do banco todas os aniversariantes
    obter_dados_aniversariantes();
    function obter_dados_aniversariantes(){
        var url = '/obter_dados_aniversariantes';
        var sucesso = verificar_aniversariantes;
        
        $.ajax({
            url:url,
            success: function(result){
                sucesso(result);
            },
            error: function(result){console.log(result)},
        });
    }

    function verificar_aniversariantes(result){
        
        dados_aniversariantes = result.dados_aniversariantes;

        aniversariantes_semana = dados_aniversariantes.filter((element) => 
            parseInt(element.dia_aniversario) >= hoje.getDate()
            && parseInt(element.dia_aniversario) <= proximo_domingo.getDate()
            && parseInt(element.mes_aniversario) === hoje.getMonth()+1
            && hoje.getDay() === 0
        );

        aniversariantes_amanha = dados_aniversariantes.filter((element) => 
            parseInt(element.dia_aniversario) === amanha.getDate()
            && parseInt(element.mes_aniversario) === hoje.getMonth()+1 
        );

        aniversariantes_dia = dados_aniversariantes.filter((element) => 
            parseInt(element.dia_aniversario) === hoje.getDate()
            && parseInt(element.mes_aniversario) === hoje.getMonth()+1
        );

        notificacao = (aniversariantes_semana.length > 0? 'da semana,':'' )+ (aniversariantes_dia.length > 0? ' de hoje,':'')+ (aniversariantes_amanha.length > 0? ' de amanha':'' );

        if(notificacao != ''){

            redirect = 'http://18.231.47.174/redirect?url=/template_aniversariantes';

            notificacao = 'Verifique a lista de aniversariantes '+notificacao + ' e demais aniversariantes. ';
            
            p_notificacao = document.createElement('p');
            p_notificacao.textContent = notificacao;
            
            a_notificacao = document.createElement('a');
            a_notificacao.textContent = 'Clique Aqui!';
            a_notificacao.href = '/template_aniversariantes';
            a_notificacao.target = "_blank";
            a_notificacao.href = redirect;
            a_notificacao.id = 'link_aniversariantes';

            //Captura o template do email e prepara o e-mail
            url = '/template_email_padrao';
            $.ajax({
                url:url,
                success:function(result){
                    template_email_padrao = result;
                    $('#conteudo').append(template_email_padrao);
                    $('#conteudo_email').append(p_notificacao);
                    $('#conteudo_email').append(a_notificacao);
                    
                    enviar_email();
                    
                },
                error: function(result){console.log(result)},
            });
        }
    }


    function enviar_email(){
        conteudo = $('#conteudo').html();
        
        url = '/enviar_aniversariantes_por_email';
        data = $('#conteudo').html();
        $.ajax({
            url:url,
            data:{data},
            success:function(result){
                a_notificacao.id = 'ancora_aniversariantes';
            },
            error: function(result){console.log(result)},
        });
    }

    //Captura o campo de tada
    var data_inicio = $('#data_inicio');

    //Declara data atual
    var hoje = new Date();
    // hoje = new Date(2024,5-1,12+1);

    // Ajusta o fuso horário para GMT-03:00 (180 minutos antes de UTC)
    hoje.setMinutes(hoje.getMinutes() -180);

    //Formata para dar valor ao campo de data
    var hojeFormatado = hoje.toISOString().split('T')[0];

    //Atribui valor ao campo de data
    data_inicio.val(hojeFormatado);


    //Captura o campo de tada
    var data_fim = $('#data_fim');
    
    // Define a data para o último dia do mês corrente
    var ultimoDiaMesCorrente = new Date(hoje.getFullYear(), hoje.getMonth() + 1, 0);

    // Formata a data para o último dia do mês corrente
    var ultimoDiaMesCorrenteFormatado = ultimoDiaMesCorrente.toISOString().split('T')[0];

    //Atribui valor ao campo de data
    data_fim.val(ultimoDiaMesCorrenteFormatado);

    

    // Declara data para amanhã
    var amanha = new Date(hoje);
    amanha.setDate(amanha.getDate() + 1);

    // Formata para dar valor ao campo de data
    var amanhaFormatado = amanha.toISOString().split('T')[0];

    
    // Declara data para o próximo domingo
    var proximo_domingo = new Date(hoje);

    // Adiciona dias até chegar ao próximo domingo (0 é domingo, 1 é segunda-feira, ..., 6 é sábado)
    proximo_domingo.setDate(proximo_domingo.getDate() + (7 - proximo_domingo.getDay()));

    // Formata para dar valor ao campo de data
    var proximo_domingoFormatado = proximo_domingo.toISOString().split('T')[0];
</script>
</html>