<!DOCTYPE html>
<html lang="en">
    <div
    style="
        font-family: Arial, sans-serif;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;" >
    
        <h1 style = "
            font-style: normal;
            text-align: center;
            background:linear-gradient(to right,#002040,#003057,#0099c8);
            color: white;
            border-radius: 20px 20px 20px 20px;
            padding: 15px;
            ">+Ferramentas
        </h1>
        <h2 style="
            text-align: center;
            color: #333;">Notificação
        </h2>
      <div id="conteudo_email" ></div>
    </div>
</html>
